<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Controle de Entrada e Saida</title>
<!-- MATERIALIZE -->
<!--Import Google Icon Font-->

    
     
<!-- MATERIALIZE -->
</head>
<body onload="DataEHora()">
<h1>Pagina de controle de horario</h1>

<label> CPF:</label>
<input>
<input type="submit" value="Buscar">


</br></br></br></br></br></br>

<form action="salvarControleHorario" method="post" th:object="${pessoaobj}">
    <label>ID:</label>
    <input name="id" readonly="readonly" th:field="*{id}">
   
    <label>Nome:</label>
    <input name="nomeVisitante"th:field="*{nomeVisitante}" readonly="readonly">
    
    <label>CPF:</label>
    <input name="cpfVisitante"   th:field="*{cpfVisitante}" readonly="readonly">
    
    <label>Empresa:</label>
    <input name="empresaVisitante" th:field="*{empresaVisitante}" readonly="readonly">
   
    <label>Finalidade:</label>
    <input name="finalidade">
    </br>
    </br>
    </br>
    <label>Falar com quem:</label>
    <input name="falarComColaborador"  >
    
    <label>Tipo do Veiculo:</label>
    <input name="tipoVeiculo" >
   
    <label>Placa do Veiculo:</label>
    <input name="placaVeiculo"  >
   </br>
   </br>
   </br>
    <label>Hora de Entrada:</label>
    <input name="horaEntrada" readonly="readonly" id="horaEntrada" value="" >
   
    <label>Hora de saida:</label>
    <input name="horaSaida" readonly="readonly">
   
    <label>Data tual:</label>
    <input name="dataAtual" value="" id="dataAtual"  >
    
    </br></br></br>
    <input type="submit" value="Salvar">
    

</form>


    <table>
    <tr>
    <th> id</th>
    <th> Nome Visitante</th>
    <th> CPF</th>
    <th> Empresa</th>
    <th> Finalidade</th>
    <th> Falar com:</th>
    <th> Tipo do Veiculo</th>
    <th> Placa Veiculo</th>
    <th> Horario de Entrada</th>
    <th> Data</th>
    
    </tr>
    <tr th:each = "ctrlHora : ${buscarControleHorario}">
    <td th:text=${ctrlHora.id}>ID</td>
    <td th:text=${ctrlHora.nomeVisitante}>NomeVisitante</td>
    <td th:text=${ctrlHora.cpfVisitante}>CPF Visitante</td>
    <td th:text=${ctrlHora.empresaVisitante}>Empresa Visitante</td>
    <td th:text=${ctrlHora.finalidade}>Qual a finalidade</td>
    <td th:text=${ctrlHora.falarComColaborador}>Falar com</td>
    <td th:text=${ctrlHora.tipoVeiculo}>Veiculo</td>
    <td th:text=${ctrlHora.placaVeiculo}>Placa</td>
    <td th:text=${ctrlHora.horaEntrada}>Horario de entrada</td>
      <td><a th:href="@{/horaSaida/{idpessoa}(idpessoa=${ctrlHora.id})}">Marcar Saida</a></td>
     
   
    
   <!--   <td th:text=${ctrlHora.horaSaida}> Horario de saida</td>  -->
    <td th:text=${ctrlHora.dataAtual}>Data Atual</td>
    
    
    
    </tr>
    </table>
    
    
    
     <script type="text/javascript">
  
     function DataEHora(){
    	var data = new Date();
    	var hora = data.getHours() + ':' + data.getMinutes() + ':' + data.getSeconds();
    	horaEntrada.value = hora;
    	
   
    	
    	var today = new Date();
    	var dd = String(today.getDate()).padStart(2, '0');
    	var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    	var yyyy = today.getFullYear();

    	today = dd + '/' + mm + '/' + yyyy;
    	dataAtual.value = today
         	
    }
    </script>
   
    
   
    
    
    
    
    
    
    
</body>
</html>