<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Controle Entrada e Saida</title>

<!-- MATERIALIZE 
<
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
      
     <link type="text/css" rel="stylesheet" href="/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/> -->
<!-- MATERIALIZE -->
</head>
<body>
   <h1>Cadastro de Pessoa</h1>
   
   <!-- FORMULARIO CADASTRO DE PESSOA -->
   
   <form action="salvarpessoa" method="post" th:object="${pessoaobj}">
    <label>ID:</label>
    <input name="Id" readonly="readonly" th:field="*{id}">
    <label>Nome:</label>
    <input name="nomeVisitante" th:field="*{nomeVisitante}">
    <label>CPF:</label>
    <input name="cpfVisitante" th:field="*{cpfVisitante}">
    <label>Empresa:</label>
    <input name="empresaVisitante" th:field="*{EmpresaVisitante}">
    
    <input type="submit" value="Salvar">
   </form>
   </br>
   
   <!-- FIM FORMULARIO CADASTRO PESSOA -->
   <a href="/listapessoas">Listar Pessoas</a>
   
   <table>
   <tr th:each = "pessoa : ${buscarPessoasTable}">
   <td th:text="${pessoa.id}"></td>
   <td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text = "${pessoa.nomeVisitante}"></span> </a></td>
   <td th:text="${pessoa.cpfVisitante}"></td>
   <td th:text="${pessoa.empresaVisitante}"></td>
    <td><a th:href="@{/passarDadosControle/{idpessoa}(idpessoa=${pessoa.id})}">Marcar Entrada</a></td>
   
 <!--   <td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td> --> 
   </tr>
   
   </table>
   
   
   
   
   
   
   <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
   <script type="text/javascript" src="materialize/js/materialize.js"></script> 
</body>
</html>