<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Controle Entrada e Saida</title>

<!-- MATERIALIZE 
<
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
      
     <link type="text/css" rel="stylesheet" href="/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/> -->
<!-- MATERIALIZE -->
</head>
<body>   
   <h1>Controle de Saida</h1>
  
   
   <h5>Registro  saida</h5>
   <div>
     <form action="/salvarsaida" method="post" th:object="${pessoaobj}" >
          
          <label>ID</label>
          <input name="id" readonly="readonly" id="*{id}">
                    
          <label>Data Atual</label>
          <input name="dataAtual">
         
          <label>Hora Entrada</label>
          <input name="horaEntrada">
          
          <label>Hora Saida</label>
          <input name="horaSaida">
          
          <label>Finalidade</label>
          <input name="finalidade">
          
          <label>Falar com:</label>
          <input name="falarComColaborador">
          
          <label>Tipo Veiculo</label>
          <input name="tipoVeiculo">
          
          <label>Placa do Veiculo</label>
          <input name="placaVeiculo">
          
          <input type="submit" value="Registrar Entrada">
               
     </form>
   </div>
  
  <table>
      <tr th:each="tblControle : ${tblControleEntrada}">
       <td th:text="${tblControle.id}"></td>
        <td th:text="${tblControle.dataAtual}"></td>
        <td th:text="${tblControle.horaEntrada}"></td>
        <td th:text="${tblControle.horaSaida}"></td>
        <td th:text="${tblControle.finalidade}"></td>
        <td th:text="${tblControle.falarComColaborador}"></td>
        <td th:text="${tblControle.tipoVeiculo}"></td>
        <td th:text="${tblControle.placaVeiculo}"></td>
       <!--     <td><a th:href="@{/salvarsaida/{idcontrolefk}(idcontrolefk=${tblControle.id})}">editar</a></td> -->
      </tr>
  </table>
   
   
   
   
   <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
   <script type="text/javascript" src="materialize/js/materialize.js"></script> 
</body>
</html>